<html>
<head>
    <title>ML Front-end Test</title>
</head>
<body>
    <main role="main">
        <div>
            <section>
                <header>
                    <h1>Ipad Mini Apple 16 Gb Wifi Led 7.9</h1>
                </header>
                <section>
                    <div id="productPictureContainer">
                        <img src="/slide.png">
                    </div>
                    <form>
                        <fieldset class="priceContainer">
                            <legend>
                                <strong>Preço</strong>
                            </legend>
                            <article class="ch-price">
                                $ 4799
                                <sup>99</sup>
                            </article>
                        </fieldset>
                        <fieldset class="quantityContainer">
                            <div>Quantity</div>
                            <div>
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="paymentsContainer">
                            <div>Payments</div>
                            <div>
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div>
                                <input type="submit" id="buyProduct" title="Buy" class="ch-btn" value="Buy">
                            </div>
                            <article>
                                <span>Mercado Libre isn't the owner of this product.</span>
                            </article>
                        </fieldset>
                    </form>
                    <div>
                        <h1>More products like this</h1>
                        <div id="carousel" class="ch-carousel">

                        </div>
                    </div>
                </section>
            </section>
        </div>
    </main>
</body>
</html>